<section class="recipe-detail-section">
  <h2>Recipe Details</h2>
  <div class="recipe-detail-title">
    <h3 *ngIf="recipe_detail">
      {{ recipe_detail.label }}
    </h3>
    <div *ngIf="recipe_detail" class="recipe-detail">
      <a [routerLink]="['/recipe-detail/', recipe_detail.uri.substr(-32, 32)]">
        <h4>{{recipe_detail.label}}</h4>
      </a>
      <img *ngIf="recipe_detail.image" class="recipe-detail-img" src="{{recipe_detail.image}}"
        alt="{{recipe_detail.label}}-picture">
      <ul *ngIf="recipe_detail.ingredientLines">
        <li>
          Ingredients:
        </li>
        <li *ngFor="let item of recipe_detail.ingredientLines">
          {{ item }}
        </li>
      </ul>
      <p *ngIf="recipe_detail.totalTime">Cooking time {{ recipe_detail.totalTime }} minutes</p>
      <p>Calories: {{ recipe_detail.calories | number: '1.0-0'}}</p>
      <a href='https://www.facebook.com/sharer/sharer.php?u={{recipe_detail.shareAs}}'>Share on Facebook</a>
    </div>
  </div>
</section>