<p>
  recipe-list works!
</p>
<section class="list-section">
  <ul class="list-group" *ngIf="renderThisFavorites">
    <li class="list-group-item" *ngFor="let i of renderThisFavorites[0]">
      <div class="recipe-item">
        <img
          class="recipe-list-img"
          src="{{ i.image }}"
          alt="{{ i.label }}-picture"
        />
        <a [routerLink]="['/recipe-detail/', i.uri.substr(-32, 32)]">
          <p class="recipe-name">{{ i.label }}</p>
        </a>
        <button (click)="removeRecipeFromList(i)">Delete</button>
      </div>
    </li>
  </ul>
  <button id="mfBtn" (click)="fader()">Fader</button>
  <button id="faded">Faded</button>
</section>
